@import url(https://fonts.googleapis.com/css?family=Raleway:300,500,700);
.top-nav {
  
  background-color: #e9feff;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 999;
  white-space: nowrap;
}

.top-nav i {
  font-size: 30px;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: 300;
  float: left;
  transition: color 0.1s ease;
}

.top-nav p {
  align-self: center;
  font-weight: 600;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  font-weight: 600;
  font-size: 20px;
}

.top-nav p:after {
  align-self: center;
  background-color: #ff6663;
  border: 5px solid #ff6663;
  border-radius: 50%;
  content: "";
  height: 2px;
  left: -25px;
  position: absolute;
  top: 22px;
  width: 2px;
}

.top-nav p:before {
  align-self: center;
  background-color: #ff6663;
  border: 5px solid #ff6663;
  border-radius: 50%;
  content: "";
  height: 2px;
  right: -25px;
  position: absolute;
  top: 22px;
  width: 2px;
}

#about .text {
  margin-top: 0;
  padding-bottom: 2em;
  padding-top: 0;
}
#about .text p {
  margin-right: 20px;
  text-align: left;
}
#about,
.contact-footer:hover {
  background-color: #e9feff;
}
#header-img {
  height: 60px;
  margin-top: 0;
  width: 120px;
  z-index: 2;
}
.company-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-logo img {
  width: 100px;
  height: auto;
}
.contact-details {
  display: flex;
  flex-direction: row;
  position: relative;
}
.office-info {
  display: flex;
  align-items: center;
  margin-right: 85px;
}
.office-info3 {
  display: flex;
  align-items: center;
  margin-right: 85px;
}
.icon-container {
  margin-right: 10px;
}
.icon-container i {
  font-size: 40px;
}
.text-container p {
  margin: 0;
  font-size: 16px;
}
#products {
  background-color: #e9feff;
  position: relative;
  margin-left: 25px;
}
#submit:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.25s ease;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.arrow {
  background-color: #ccc;
  background-image: url(https://assets.dryicons.com/uploads/icon/svg/9823/2c6b3c07-59fa-4d6c-801e-1dc8de80e20f.svg);
  background-repeat: no-repeat;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  padding: 5px 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 999;
}
.arrow-left {
  left: 20px;
  transform: rotate(180deg);
}
.arrow-right {
  right: 20px;
}
.arrow:hover {
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  padding: 4px 19px;
}
.box {
  background-color: #e9feff;
  display: inline-block;
  flex: 0 0 auto;
  height: 200px;
  margin-right: 20px;
  position: relative;
  scroll-snap-align: start;
  vertical-align: top;
  width: 300px;
}
.btn {
  border: solid 1px #090b08;
  display: inline-block;
  padding: 0.5em 1.5em;
  transition: all 0.3s ease-in;
}
.btn:focus,
.btn:hover {
  box-shadow: 0 10px 7px -9px #000000bf;
  transform: translate(0, -2px);
  transition: all 0.3s ease-out;
}
.contact-footer {
  border: 1px solid #000;
  padding: 1em 0;
}
.contact-footer:last-child {
  border-left: 0;
}
.contact-email {
  flex: 1 0 50%;
}
.contact-wrapper .social-menu {
  flex: 1 0 100%;
  justify-content: center;
}
.contact-wrapper .social-menu li a {
  font-size: 1.5em;
  margin: 0 1.5em 0 0;
  padding: 0;
}
.contact-wrapper .wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.contact-wrapper a i {
  padding-bottom: 0.2em;
  width: 100%;
}
.contact-wrapper:after,
.form-wrapper:after {
  border-bottom: solid 1px #dadada;
  content: "";
  display: block;
  margin: 2em auto;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hero-text {
  padding: 0 2em 7.5em;
  margin-top: 150px;
}
.left-arrow {
  left: 0;
}
.menu li {
  color: #000;
  margin-top: 28px;
}
.menu li a {
  color: #000;
  font-size: 1.2em;
  margin: 0 0.5em;
  padding: 0.5em;
}
.navbar {
  background-color: #3b9f65;
  display: flex;
  height: auto;
  justify-content: space-around;
  width: auto
}
.get-quote-btn {
  background-color: #f8f9fa;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212529;
  font-weight: 700;
  text-align: center;
}
.get-quote-btn:hover {
  background-color: #e9ecef;
}
.right-arrow {
  right: 0;
}
.social-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social-menu li {
  display: inline-block;
}
.social-menu li a {
  color: #000;
  display: inline-block;
  font-size: 1.2em;
  margin: 0 5px;
  padding: 10px;
  text-decoration: none;
}
.social-menu li a:active,
.social-menu li a:focus,
.social-menu li a:hover {
  border-bottom: solid 1px #000;
}
.text {
  padding-top: 1em;
  text-align: center;
}
.text p {
  line-height: 1.4em;
  padding-bottom: 1em;
}
.wrapper {
  align-items: center;
  display: flex;
  white-space: wrap;
}
a {
  color: #090b08;
  text-decoration: none;
}
.box:last-child,
a.nav-link {
  margin-right: 0;
}
a.nav-link:active,
a.nav-link:focus,
a.nav-link:hover {
  border-bottom: solid 1.8px #090b08;
}
body {
  background-color: #e9feff;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  margin: 0;
  overflow-x: hidden;
}
form input:first-child {
  background-color: transparent;
  flex: 1 0 80%;
}
form input:last-child {
  background-color: #e9feff;
  cursor: pointer;
  flex: 1 0 20%;
  transition: all 0.25s ease;
}
h1 {
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
}
h3 {
  margin: 0;
}
h4 {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h6 {
  font-weight: 500;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  width: 100%;
  z-index: 1;
}
input {
  border: 1px solid #000;
  padding: 1em;
}
textarea {
  border: 1px solid #000;
  padding: 1em;
  background-color: #e9feff;
}
section#about {
  margin-top: 50px;
  margin-left: 25px;
}

ul {
  list-style: none;
}
.author-logo {
  height: auto;
  width: 100px;
}
.footer {
  background: #00121b;
  display: block;
  width: 100%;
}
.footer-bottom .copyright {
  align-items: center;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}
.footer-bottom .copyright p {
  margin-bottom: 30px;
  margin: 0;
}
.footer-bottom .creator {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.footer-bottom .creator p {
  margin-right: 15px;
}
.border1 {
  background: #ff9800;
  background-color: #ff9800;
  border: 0;
  color: #ff9800;
  height: 3px;
  width: 40px;
}
.footer-bottom {
  width: 100%;
  background: #00121b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-items1 {
  box-sizing: border-box;
  color: #fff;
  padding: 10px 20px;
  width: 70%;
  text-align: justify;
}
.footer-items2 {
  box-sizing: border-box;
  color: #fff;
  padding: 10px 20px;
  width: 30%;
  text-align: justify;
}
.footer-items1 h1 {
  color: #fff;
}.footer-items2 h1 {
  color: #fff;
}
.footer-items1 p {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}
.footer-items2 p {
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}
.inner-footer {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 3px 10px;
  justify-content:space-around;
}
.itemlist {
  display: flex;
  grid-gap: 30px;
  grid-auto-rows: 2fr;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px;
  flex-wrap: wrap;
}
.itemlist-item-wrapper {
  background-color: #fff;
  box-sizing: content-box;
  display: grid;
  font-size: 20px !important;
}
a {
  color: #235ba8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li i {
  margin-right: 10px;
}
ul {
  font-size: 15px;
  letter-spacing: 0.5px;
  list-style: none;
  margin: 0;
  padding: 2px;
}
ul a {
  color: #fff;
  outline: 0;
  text-decoration: none;
  transition: 0.3s;
}
ul a:hover {
  color: #ff9800;
}
ul li {
  align-items: center;
  display: flex;
  height: auto;
  margin: 10px 0;
}
.lightbox-blanket {
  display: block;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 20;
}
.pop-up-container {
  display: table;
  height: 100%;
  margin: auto;
  position: static;
  width: auto;
}
.go-back {
  border-right: 60px solid transparent;
  border-top: 60px solid #cae00d;
  color: #222;
  height: 0;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 0;
}
.go-back i {
  font-size: 20px;
  left: 10px;
  position: relative;
  top: -52px;
}
.pop-up-container-vertical {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.pop-up-wrapper {
  background-color: #fff;
  box-shadow: -45px 49px 83px 1px #00000073;
  display: block;
  margin: 20px auto;
  padding: 50px;
  position: relative;
  width: auto;
}
.product-bottom {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  position: relative;
}
.product-details {
  max-width: 600px;
}
.product-left {
  display: inline-block;
  padding-right: 4%;
  vertical-align: top;
  width: 46%;
}
.product-right {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
#header-img {
  height: 60px;
  width: 120px;
}
.brand-logo {
  float: left;
  margin-left: 80px;
  margin-top: 5px;
}
.menu {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu li {
  display: inline;
  margin-right: 20px;
}
.navigation-menu {
  margin-top: 5px;
}
.product-description {
  line-height: 1.5;
}
.product-image {
  padding: 10px 10px 0;
}
.product-image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.product-manufacturer {
  color: #222;
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  margin: -2px;
}
.product-title {
  color: #888;
  font-size: 26px;
}
#contact {
  align-items: center;
  background-color: #6a9ac4;
  display: flex;
  height: auto;
  justify-content: center;
  position: relative;
  width: 100%;
}
.contact-box {
  width: clamp(100px, 90%, 1000px);
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}
.contact-form-wrapper {
  background-color: #263a53;
  border-radius: 0 10px 10px 0;
}
.contact-form-wrapper input[type="email"],
.contact-form-wrapper input[type="text"],
.contact-form-wrapper textarea {
  font-size: 16px;
  width: 100%;
  height: 60px;
}
.contact-form-wrapper input[type="email"]::placeholder,
.contact-form-wrapper input[type="text"]::placeholder,
.contact-form-wrapper textarea::placeholder {
  opacity: 0.5;
}
.contact-form-wrapper input[type="email"]:focus,
.contact-form-wrapper input[type="text"]:focus,
.contact-form-wrapper textarea:focus {
  border-color: #ff6663;
}
.contact-links {
  background: radial-gradient(
      circle at 55% 92%,
      #426691 0 12%,
      transparent 12.2%
    ),
    radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2%),
    radial-gradient(
      circle at 20% max(78%, 350px),
      #263a53 0 7%,
      transparent 7.2%
    ),
    radial-gradient(circle at 0 0, #263a53 0 40%, transparent 40.2%), #1f2e43;
  background-color: #1f2e43;
  border-radius: 10px 0 0 10px;
}
.contact-links ul {
  color: #fff;
  font-size: large;
  margin-top: 20px;
  padding: 15px;
  white-space: pre-line;
}
.contact-form-wrapper,
.contact-links {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  width: 50%;
}
.headings {
  align-items: center;
  background-color: #e9feff;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 20px 0;
  width: auto;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: column;
}
.headings .border1 {
  align-items: center;
  background: #ff9800;
  background-color: #ff9800;
  border: 0;
  color: #ff9800;
  height: 5px;
  width: 130px;
}
.form-item {
  position: relative;
}
.link {
  cursor: pointer;
  font-size: 35px;
  margin-right: 45px;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fab {
  font-weight: 400;
  color: #000;
}
.fa,
.fas {
  font-weight: 900;
  color: #000;
}
.submit-btn {
  background-color: #fd917e;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  filter: drop-shadow(2px 2px 3px #0003);
  margin: 2px auto;
  padding: 12px 20px;
  transition: 0.2s;
  font: clamp(16px, 1.6vw, 18px) Poppins, sans-serif;
}
.submit-btn:active {
  filter: sepia(0.5);
  transform: scale(1.1, 1.1);
}
h2 {
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  transform: scale(0.95, 1);
  font: clamp(30px, 6vw, 60px) Arimo, sans-serif;
}
.hero-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* This will add spacing between images */
  width: 80%;
  height: 50%;
}
.hero-img img{
  margin-top: 50px;
  width: 70%;
  height: 50%;

}

.hero-img img:first-child {
  display: block;
}

.section {
  display: none;
  padding: 20px;
  text-align: center;
}

img{
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1080px) {
  .section {
    display: block;
    padding: 4rem;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px;
  flex-wrap: wrap;
  gap: 50px;
  grid-auto-rows: 2fr;
}

@media screen and (max-width: 1080px) {
  .grid {
    grid-auto-rows: 1fr; /* Change to 1fr for smaller screens */
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 360px;
  height: 360px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .item {
    width: 252px; /* 30% reduction from 360px */
    height: 252px; /* 30% reduction from 360px */
    margin: 10px; /* Adjust as needed for spacing */
  }

  .item img {
    max-width: 100%; /* Maintain image width within .item container */
    height: 95%; /* Maintain image aspect ratio */
  }
}

.item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
}

.item:hover:after {
  opacity: 0;
}

.item__details {
  position: absolute;
  z-index: 1;
  padding: 15px;
  background: #fff;
  color: #828282;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.item__details:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}

/* CSS for overlay */
.overlay {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Initially hidden */
  z-index: 2; /* Place above other content */
  overflow: scroll;
}

/* CSS for product card */
#productCardContainer {
  position: fixed;
  top: 8%;
  left: 20%;
  z-index: 999;
  overflow: scroll;
}



/* Responsive CSS */

/* Mobile */
@media only screen and (max-width: 768px) {

  header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: auto;
    z-index: 1;
  }
  .brand-logo {
    float: left;
    margin-left: 10px;
    margin-right: 28px;
}
.top-nav{
  justify-content: center;
  align-items: center;
  height: auto;
}
.top-nav p{
  font-size: 10px;
  padding: 3px;

}.top-nav p:before {
  align-self: center;
  background-color: #ff6663;
  border: 5px solid #ff6663;
  border-radius: 50%;
  content: "";
  height: 0.2px;
  top:5px;
  right: -18px;
  position: absolute;
  width: 0.2px;
}
.top-nav p:after {
  align-self: center;
  top:5px;
  background-color: #ff6663;
  border: 5px solid #ff6663;
  border-radius: 50%;
  content: "";
  height: 0.2px;
  left: -18px;
  position: absolute;
  width: 0.2px;
}
  /* Resetting padding for mobile */
  #about .text {
    padding-bottom: 1em;
    padding-top: 1em;
  }
  /* Adjusting margin and padding for mobile */
  #about .text p {
    text-align: center;
  }
  /* Background color change for mobile */
  #about,
  .contact-footer:hover {
    background-color: #e9feff;
  }
  /* Adjusting size for mobile */
  #header-img {
    height: 40px;
    width: 80px;
  }

  /* Adjusting position for mobile */
  .contact-details {
  position: relative;
  width: auto;
  right: 15px;

  }
  .product-manufacturer {
    color: rgb(34, 34, 34);
    font-weight: 700;
    line-height: 1;
    margin: -2px;
}
  /* Adjusting margin for mobile */
  .office-info {
    margin-right: 10px;
  }
  .office-info3 {
    
    margin-right: 0px
  }
  /* Adjusting font size for mobile */
  .icon-container i {
    font-size: 15px;
  }
  /* Adjusting font size for mobile */
  .text-container p {
    font-size: 10px;
    overflow-wrap: break-word;
  }
  .text-container{
    white-space: wrap;
    width: 58px;
  
  }
  .navigation-menu {
    margin-top: 5px;
    width:auto;
}
  .navbar {
    background-color: #3b9f65;
    display: flex;
    height: auto;
    justify-content: space-around;
    width: auto;
}
  .menu {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

  ul {
    font-size: 15px;
    letter-spacing: 0.5px;
    list-style: none;
    margin: 0;
    padding: 2px;
}
  /* Background color change for mobile */
  #products {
    background-color: #e9feff;
    margin-left: 0;
  }
  /* Hover effect changes for mobile */
  #submit:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.25s ease;
  }
  /* Adjusting font size for mobile */
  *,
  h1,
  h2,
  h3,
  h4,
  h6,
  p,
  input,
  textarea {
    font-size: 10px;
  }
  /* Adjusting padding for mobile */
  .hero-text {
    padding: 0 1em 4em;
    margin-top: 100px;
  }
  /* Adjusting margin for mobile */
  .menu li {
    margin-top: 20px;
  }
  /* Adjusting size for mobile */
  .get-quote-btn {
    width: 80px;
    height: 40px;
    font-size: 14px;
  }
  /* Adjusting font size for mobile */
  .social-menu li a {
    font-size: 1.2em;
    margin: 0 1em 0 0;
    padding: 0;
  }
  /* Adjusting padding for mobile */
  .contact-footer {
    padding: 0.5em 0;
  }
  /* Adjusting margin for mobile */
  .footer-items {
    padding: 10px;
  }
  /* Adjusting font size for mobile */
  .footer-items p {
    font-size: 14px;
  }
  /* Adjusting margin for mobile */
  .product-description {
    margin-top: 1em;
  }
  /* Adjusting font size for mobile */
  #contact .headings {
    font-size: 20px;
  }
  /* Adjusting font size for mobile */
  .fa,
  .fas,
  .fab {
    font-size: 15px;
  }
  /* Adjusting padding for mobile */
  .submit-btn {
    padding: 10px 15px;
    font-size: 14px;
    margin-top: 25px;
  }
  /* Adjusting padding for mobile */
  .hero {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  /* Adjusting margin for mobile */
  .hero-img {
    margin-top: 20px;
    width: 80%;
    height: 50%;
  }
  #contact-us {
    padding: 10px;
    font-size: 8px;
    line-height: 20px; /* Adjust padding for smaller screens */
  }

h2 {
  font-size: clamp(15px, 6vw, 30px);
}


/* img {
  width: 38px;
  height: 38px;
} */
.contact-links,
    .contact-form-wrapper {
      width: 100%;
    }
  
    .contact-links {
      border-radius: 10px 10px 0 0;
    }
  
    .contact-form-wrapper {
      border-radius: 0 0 10px 10px;
    }
    .contact-links ul {
      color: #fff;
      font-size: large;
      padding: 15px;
      white-space: pre-line;
      margin: 0;
  }
  .footer-items {
    width: 100%;
}
  }
  .footer-bottom .copyright {
    align-items: center;
    display: flex;
    margin-left: 30px;
    margin-right: 3px;
}
 
    

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Adjusting margin for tablet */
  #about{
    margin-left: 50px;
  }
  /* Adjusting font size for tablet */
  .text-container p {
    font-size: 15px;
  }
  /* Adjusting margin for tablet */
  .menu li {
    margin-top: 25px;
  }
  /* Adjusting margin for tablet */
  .brand-logo {
    margin-left: 100px;
  }
}

/* Large Desktop */
@media only screen and (min-width: 1440px) {
  /* Adjusting margin for large desktop */
  .brand-logo {
    margin-left: 200px;
  }
}
